#root {
  height: 100%;
  width: 100%;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  padding: 0px 32px 32px 32px;
  transition: all 350ms ease-in-out 0s;
  min-height: 100%;
}

.dark {
  background: #242424;
}
.dark h1 {
  color: #ffffff;
}
.dark h1 {
  color: #ffffff;
}
.dark .no-content {
  color: #ffffff;
}
.dark .little-header {
  color: #ffffff;
}
.dark .pagination {
  color: #ffffff;
}
.dark .pagination li {
  border: 1px solid #ffffff;
}
.dark * {
  box-shadow: none;
}
.dark .post h2 {
  color: #ffffff;
}
.dark .post p {
  color: #b5b5b5;
}
.dark .privacy {
  color: #ffffff;
}
.dark .privacy-desc {
  color: #b5b5b5;
}

.header h1 {
  text-align: center;
  margin: 2rem 0rem;
}
