.privacy {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  margin: 0px auto;
  padding: 46px 0;
  text-align: center;
}
.privacy-heading {
  font-size: 32px;
  font-weight: 400;
}
.privacy-desc {
  padding-top: 24px;
}

